<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Az oldal címe</title>

    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link rel="manifest" href="site.webmanifest">

    <link rel="apple-touch-icon" href="icon.png">
    <!-- favicon.ico a gyökérben -->

    <style>
      /* reset / critical css */
    </style>

    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Főoldal</a>
        <a href="/rolunk">Rolunk</a>
        <a href="/termekek">Termékek</a>
      </nav>
    </header>

    <main>
      <section>
        <h1>Cím</h1>
        <p>Tartalom</p>
      </section>

      <section>
        <h2>Alcím 1</h2>
        <p>Tartalom</p>
      </section>

      <section>
        <h2>Alcím 2</h2>
        <p>Tartalom</p>
      </section>
    </main>

    <footer></footer>

    <script src="main.js"></script>
  </body>
</html>
